.bttnMenu {
    font-size: 0.8em !important;
}

#listNewVehicle {
    margin-top: 1em;
}

img {
    width: 12em;
    height: 14em;
}

.M-tab {
    width: 49% !important;
    margin-top: 0.4em !important;
    background-color: #bcc4d1 !important;
}
.M-tab:first-of-type {
    margin-left: 0.1em;
}

.M-tab-active {
    background-color: #368ebd !important;
}

#M-View {
    display: none;
    margin-top: 1em;
    padding: 2em;
    border: 1px solid #81919b;
}

#M-View h2 {
    text-align: center;
    padding-bottom: 1em;
}

#M-New {
    margin-top: 1em;
    padding: 2em;
    border: 1px solid #81919b;
}

#M-New h2 {
    text-align: center;
    padding-bottom: 1em;
}

#N-cmbWorkshopsFav {
    margin-right: 2em;
}

#N-cmbCars {
    margin-right: 2em;
}

#M-New div {
    margin-top: 1em;
}

#N-DAdd {
    text-align: right;
}

#N-cmbServices {
    margin-top: 1em;
}

#W-DS {
    text-align: center;
    margin: 2em 0 2em 0;
}

.star {
    visibility: hidden !important;
    font-size: 30px !important;
    cursor: pointer !important;
}

.star:before {
    content: "\2606" !important;
    position: absolute !important;
    visibility: visible !important;
}

.star:checked:before {
    content: "\2605" !important;
    position: absolute !important;
}

#googleMap {
    height: 240px;
}