.bttnMenu {
    font-size: 0.8em !important;
}

#listNewVehicle {
    margin-top: 1em;
}

img {
    width: 12em;
    height: 14em;
}

.center {
    text-align: center;
}

.M-tab {
    width: 49% !important;
    margin-top: 0.4em !important;
    background-color: #bcc4d1 !important;
}

.M-tab-active {
    background-color: #368ebd !important;
}

#M-View {
    display: none;
    margin-top: 1em;
    padding: 2em;
    border: 1px solid #81919b;
    font-size: 0.8em;
}

#M-View h2 {
    text-align: center;
    padding-bottom: 1em;
}

#M-New {
    margin-top: 1em;
    padding: 2em;
    border: 1px solid #81919b;
}

#M-New h2 {
    text-align: center;
    padding-bottom: 1em;
}

#N-cmbWorkshopsFav {
    margin-right: 2em;
}

#N-cmbvehicles {
    margin-right: 2em;
}

#M-New div {
    margin-top: 1em;
}

#N-DAdd {
    text-align: right;
}

#N-cmbServices {
    margin-top: 1em;
}

#W-DS {
    text-align: center;
    margin: 2em 0 2em 0;
}

#W-favourite {
    margin-left: 1em;
}

#googleMap {
    height: 240px;
}

#W-TabPane {
    display: none;
}

#bttnSearchWorkshop,
#txtSearchWorkshop {
    vertical-align: middle;
}

.three-tab {
    font-size: 10px !important;
    width: calc(calc(100% / 3) - 9px) !important;
    margin-top: 0.4em !important;
    background-color: #bcc4d1 !important;
}

.three-tab-active {
    background-color: #368ebd !important;
}

#W-C-Description {
    display: none;
}

#W-C-Agenda {
    display: none;
}
